<div class="logo">
  <img style="width:140px;" src="/img/G2.png" alt="logo">
</div>
<nav class="navbar">
  <div class="links">
    <a href="/">Home</a
    >
    <a class="new-item-link" href="/">log out</a>
  </div>
</nav>